.footer {
  padding: 50px 8%;
  background: #0b1120;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer h2 {
  color: var(--color-primary);
  font-size: 36px;
  margin-bottom: 15px;
}

.footer p {
  color: var(--color-text-secondary);
  margin-bottom: 25px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-icons a {
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: var(--color-surface);
  color: var(--color-primary);

  font-size: 24px;

  transition: var(--transition);
}

.footer-icons a:hover {
  transform: translateY(-5px);
  background: var(--color-primary);
  color: white;
}