.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 8%;

  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  font-size: 30px;
  color: #ff6600;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: orange;
}

.nav-links a {
  color: var(--color-text);
  font-weight: 500;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--color-primary);
}