.navbar {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  color: #ff6600;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: orange;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6600;
}